<div class="crud-header">
  <h2>{{ tableConfig.name }}</h2>
  <a class="active" (click)="add()">{{ tableConfig.addLabel }}</a>
</div>

<app-crud-table [tableConfig]="tableConfig" [data]="data" (onSave)="update()" (onCancel)="cancel($event)"></app-crud-table>
