<div class="filter">
  <div class="selection">
    <div class="selection-title">Показать:</div>
    <select>
        <option> выберите клиент</option>
        <option *ngFor="let item of (clients | async)?.value">{{ item.Name }}</option>
      </select>
    <select>
        <option> выберите категорию</option>
        <option *ngFor="let item of (categories | async)?.value">{{ item.Name }}</option>
    </select>
    <select>
        <option> выберите бренд</option>
        <option *ngFor="let item of (brands | async)?.value">{{ item.Name }}</option>
      </select>
  </div>
  <div class="period">
    <div class="period-text">ЯНВ 01 - Март 22, 2019</div>
    <button class="period-btn prev" (click)="nextPrevPage(false)" [disabled]="disablePrevBtn">
      <img src="/assets/icons/icon-prev.svg" />
    </button>
    <button class="period-btn next" (click)="nextPrevPage(true)" [disabled]="disableNextBtn">
      <img src="/assets/icons/icon-next.svg" />
    </button>
  </div>
</div>