.dialog-footer {
    position: absolute;
    bottom: 0;
    padding: 12px 24px;
    background: #FBFCFF;
    box-shadow: 0px -1px 0px #E6EAEE;
    width: calc(100% - 48px);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;

    .btn:last-child {
        margin-left: 12px;
    }
}