<app-header></app-header>

<div class="container">
  
    <div class="content-header">
      <h1>Справочники</h1>
    </div>
    
    <div class="content-body">
      <div class="navigation-block">
        <div class="navigation">
          <a [routerLink]="[item.link]" routerLinkActive="active" *ngFor="let item of navigation">{{ item.title }}</a>
        </div>
      </div>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
    </div>    
</div>