.content-body {
    display: flex;
    flex-direction: row;
    padding: 30px 23px;
}

.navigation-block {
    min-width: 208px;
    margin-right: 25px;

    .navigation {
        
        a {
            display: block;
            padding: 0 24px;
            line-height: 36px;
            border-left: 4px solid #FFF;
            font-family: "SF UI Text Regular";

            &.active, &:hover {
                background: #F0F8FC;
                border-left-color: #006DD5;
            }

            &:hover {

            }
        }
    }
}

.content {
    flex-grow: 1;
}