<div class="filter">
    <div class="selection">
      <div class="selection-title">Фильтр:</div>
      <select>
          <option>Выберите клиента</option>  
          <option>Клиент 1</option>
          <option>Клиент 2</option>
        </select>
      <select>
        <option>Все категории</option>
        <option>Все категории 1</option>
      </select>
      <button class="btn btn-default">Сформировать отчет</button>
    </div>
    <div class="period">
        <a class="active">Выгрузить в excel</a>
    </div>
  </div>