<table class="default-table crud">
  <thead>
    <tr>
      <th *ngFor="let item of tableConfig.fields">{{ item.name }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" [ngClass]="{edit: item.edit}">
      <td *ngFor="let field of tableConfig.fields" [ngSwitch]="field.isEditable && item.edit">
        <ng-container *ngSwitchCase="true">
            <ng-container [ngSwitch]="field.type">
                <input type="text" [(ngModel)] = "item[field.key]" *ngSwitchCase="'string'" />
                <select *ngSwitchCase="'select'" [(ngModel)]="item[field.key]">
                  <option *ngFor="let i of field.list" [value]="i.Id"> {{ i.Name }} </option>                  
                </select>
                
                <ng-container *ngSwitchCase="'date'">
                    <div class="date-field">
                      <input matInput [matDatepicker]="pickerFrom" placeholder="Date From" class="input-calendar" [(ngModel)]="item[field.key]">
                      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFrom></mat-datepicker>
                    </div>
                </ng-container>

            </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'select'">
                {{ item[field.expand]?.Name }}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ item[field.key] | date: 'mediumDate' }}
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{item[field.key]}}
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
      <td>
          <ng-template [ngIf]="!item.edit" [ngIfElse]="editCase">
              <div class="actions">
                <img src="/assets/icons/edit.svg" (click)="edit(item)"/>
                <img src="/assets/icons/delete.svg" (click)="delete(item)" />
              </div>
          </ng-template>
          <ng-template #editCase>
              <div class="actions">
                <img src="/assets/icons/save.svg" (click)="save(item)"/>
                <img src="/assets/icons/cancel.svg" (click)="cancel(item)" />
              </div>
          </ng-template>
      </td>
    </tr>
  </tbody>
</table>