:host {
    display: flex;
    min-height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #DFE2E5;
    margin-bottom: 30px;
}
.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1111px;
    align-items: center;
   
    .logo, .user-info {
        flex-grow: 1;
    }

    .logo {
        display: flex;
        
        img {
            margin-right: 16px;
        }

        .system-title {
            font-size: 18px;
            line-height: 21px;
            color: #16325C;
            font-family: "SF UI Text Regular";
        }
    }

    .menu {
        display: flex;
        flex-direction: row;

        a {
            margin: 0 15px;
            cursor: pointer;
        }
    }

    .user-info {
        text-align: right;
    }

}