<div class="header">
  <div class="logo">
      <img src="/assets/icons/icon-waffle.svg" class="system-logo" /> 
      <div class="system-title"> Nexus </div>
  </div>
  <div class="menu">
    <a [routerLink]="[item.link]" routerLinkActive="active"
      class="menu-item" *ngFor="let item of menu">{{ item.title }}</a>
  </div>
  <div class="user-info">
    Привет, Admin!!!
  </div>
</div>