<div class="content-header">
  <h1>Планирование промо</h1>
  <button class="btn btn-simple" (click)="openDialog('period')">Запланировать периоды</button>
  <button class="btn btn-default" (click)="openDialog('promo')">Добавить промо</button>
</div>