.card {
    display: flex;
    align-items: center;
    background: #FBFCFF;
    box-shadow: 0px 0px 5px #C9D2E1;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;

    img { margin: 8px; }

    span {
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }
}