:host {
    height: 100vh;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    .login {
        position: absolute;
        top: 167px;
        height: 262px;
        width: 372px;
        background: #dadbdd;
        padding: 0;
        background: #FFFFFF;
        border: 1px solid #DFE2E5;
        box-sizing: border-box;
        border-radius: 4px;

        .header {
            h1 {
                text-align: center;
                margin: 25px 0 16px 0;
            }
        }
        .login-item {
            padding: 8px 24px;
            text-align: center;

            input, button {
                width: 100%;
            }
        }
    }

}