<div class="login-container">
  <div class="login">
    <div class="header">
      <h1>Авторизация</h1>
    </div>
    <form>
      <div class="login-item">
        <input type="text" name="login" placeholder="Username" value="Admin" />
      </div>
      <div class="login-item">
        <input type="password" name="login" placeholder="Password" value="password" />
      </div>
      <div class="login-item">
        <button type="submit" class="btn btn-default" (click)="enter()">Войти</button>
      </div>
      <div class="login-item">
        <a class="active">Проблемы со входом</a>
      </div>      
    </form>
  </div>
</div>