<app-dialog-header [title]="dialogTitle" (onClosed)="close()"></app-dialog-header>

<div class="filter">
  <div class="selection">
    <div class="selection-title">Выберите период:</div>
    
      <input matInput [matDatepicker]="pickerFrom" placeholder="Date From" class="input-calendar" [(ngModel)]="datePickerModel.DateStart">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    
      <input matInput [matDatepicker]="pickerTo" placeholder="Date To" class="input-calendar" [(ngModel)]="datePickerModel.DateFinish">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>

      <button class="btn btn-default" (click)="add()">Добавить</button>
  </div>
</div>

<div class="dialog-content-wapper">
  <app-crud-table [tableConfig]="tableConfig" [data]="data" (onEdit)="edit($event)"></app-crud-table>
</div>

<app-dialog-footer (onClosed)="close()" (onSave)="save()"></app-dialog-footer>
