:host {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    height: 100%;
    position: relative;
}

::ng-deep ng-component {
    display: flex;
    flex-direction: column;
    height: 100%;
}