:host {
    display: flex;
    flex-grow: 1;
    padding: 4px 24px 24px 24px;
}

table { 
    width: 100%; 
    height: 100%;
    border-collapse: collapse; 

    tr {
        &.fw-100 {
            th {
                font-weight: 100;
                color: #54698D;

                span {
                    text-transform: capitalize; 
                    opacity: 0.6; 
                }
            }            
        }

        td {
            padding: 14px 24px;
            position: relative;
            
            // &:nth-child(n+1) { width: 10%; }

            .title {
                margin-bottom: 8px;
            }

            span {
                background: #F0F8FC;
                border-radius: 4px;
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                text-transform: uppercase;
                color: #0070D2;
                padding: 4px 12px;
            }
        }

    }
}

th, td {
    padding: 9px;
    border: 1px solid #D8DDE6;
}

th {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
