<table>
  <thead>
    <tr>
      <th rowspan=2 (click)="nextPrevPage(true)">Подуктная линия</th>
      <th [attr.colspan]="periods?.length" (click)="nextPrevPage(false)">Промо-период</th>
    </tr>
    <tr class="fw-100">
      <th *ngFor="let period of currentPeriod; let i = index">
        №{{ i+1 }}, <span>{{ period.DateStart | date : 'mediumDate' }} - {{ period.DateFinish | date : 'mediumDate' }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of lines">
      <td>
        <div class="title">{{ line.Name }}</div>
        <span>бренд 1</span>
      </td>
      <td *ngFor="let period of currentPeriod">
        <app-card [status]="0" [value]="data[line.Id][period.Id]?.Discount" *ngIf="data[line.Id][period.Id]" (click)="onClick(data[line.Id][period.Id])"></app-card>
      </td>
    </tr>
  </tbody>
</table>