<table class="default-table">
  <thead>
    <tr>
      <th *ngFor="let i of [1,2,3,4,5]">
        Label
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let j of [1,2,3,4,5,6,7,8,9]">
      <td *ngFor="let i of [1,2,3,4,5]">
        Text
      </td>
    </tr>
  </tbody>
</table>