h1 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
}

.info-item {
    margin-bottom: 32px;
}

.inputs {
    display: flex;
    margin-bottom: 16px;

    .input-item {
        margin-right: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-basis: 0;

        &:last-child {
            margin-right: 0;
        }

        &.w50 {
            max-width: calc(50% - 8px);
        }

        input {
            width: 100%;
        }

        .input-title {
            font-size: 13px;
            line-height: 15px;
            color: rgba(84, 105, 141, 0.5);
            margin-bottom: 4px;
        }
    }
}