<div class="info-item">
  <h1>Инфо по продажам</h1>

  <div class="inputs">
    <div class="input-item">
      <div class="input-title">Discount <span>*</span></div>
      <input type="text" name="" [(ngModel)]="mainInfo.Discount" />
    </div>
    <div class="input-item">
      <div class="input-title">Margin Percent <span>*</span></div>
      <input type="text" name="" [(ngModel)]="mainInfo.MarginPercent" />
    </div>
    <div class="input-item">
      <div class="input-title">Planed Sales Amount <span>*</span></div>
      <input type="text" name="" [(ngModel)]="mainInfo.PlanedSalesAmount" />
    </div>
    <div class="input-item">
      <div class="input-title">Planed Sales <span>*</span></div>
      <input type="text" name="" [(ngModel)]="mainInfo.PlanedSales" />
    </div>
  </div>
</div>

<div class="info-item">
  <h1>Инфо по промо</h1>

  <div class="inputs">
    <div class="input-item">
      <div class="input-title">Client ID <span>*</span></div>
      <select [(ngModel)]="mainInfo.ClientId">
        <option *ngFor="let client of (clients | async)?.value" [value]="client.Id">
          {{ client.Name }}
        </option>  
      </select>
    </div>
    
    <div class="input-item">
      <div class="input-title">Marketing Activity Type Id <span>*</span></div>
      <select [(ngModel)]="mainInfo.MarketingActivityTypeId">
        <option *ngFor="let item of (marketingActivityTypes | async)?.value" [value]="item.Id">
          {{ item.Name }}
        </option>  
      </select>
    </div>
  </div>

  <div class="inputs">
    <div class="input-item">
      <div class="input-title">Name</div>
      <input type="text" [(ngModel)]="mainInfo.Name" />
    </div>
    
    <div class="input-item">
      <div class="input-title">Promo period</div>
      <select [(ngModel)]="mainInfo.MarketingPeriodId" [disabled]="mainInfo.Id != 0">
        <option *ngFor="let item of (marketingPeriods | async)?.value" [value]="item.Id">
          {{ item.DateStart | date : 'mediumDate' }} - {{ item.DateFinish | date : 'mediumDate' }}
        </option>
      </select>
    </div>
  </div>

  <div class="inputs">
      <div class="input-item">
        <div class="input-title">Activity Status Id</div>
        <select [(ngModel)]="mainInfo.ActivityStatusId">
            <option *ngFor="let item of (activityStatus | async)?.value" [value]="item.Id">
              {{ item.Name }}
            </option>
          </select>
      </div>
    </div>
  
</div>

<div class="info-item">
  <h1>Инфо по продуктам</h1>

  <div class="inputs">
    <div class="input-item">
      <div class="input-title">Product Category ID <span>*</span></div>
      <select [(ngModel)]="mainInfo.ProductCategoryId">
        <option *ngFor="let item of (productCategories | async)?.value" [value]="item.Id">{{ item.Name }}</option>
      </select>
    </div>
    
    <div class="input-item">
      <div class="input-title">Product Brand Id <span>*</span></div>
      <select [(ngModel)]="mainInfo.ProductBrandId">
        <option *ngFor="let item of (productBrands | async)?.value" [value]="item.Id">{{ item.Name }}</option>  
      </select>
    </div>
  </div>

  <div class="inputs">
    <div class="input-item w50">
      <div class="input-title">Product Line ID</div>
      <select [(ngModel)]="mainInfo.ProductLineId">
        <option *ngFor="let item of (productLines | async)?.value" [value]="item.Id">{{ item.Name }}</option>  
      </select>
    </div>
  </div>
  
</div>

