<app-header></app-header>

<div class="container">
    <div class="content-header">
      <h1>Отчеты</h1>
    </div>
 
    <app-reports-filter></app-reports-filter>
    
    <app-reports-table></app-reports-table>
    
</div>