.crud-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
     
    h2 {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #333333;
    }

    a {
        margin-left: auto;
    }
}

.default-table {
    width: 100%;
    border: 1px solid #D8DDE6;
    border-collapse: collapse; 

    tr { border-bottom: 1px solid #D8DDE6;  }
    
    th, td {
        padding: 12px 16px;
        text-align: left;
    }

    thead {
        background: #FBFCFF;

        th {
            font-size: 12px;
            line-height: 14px;
            color: rgba(84, 105, 141, 0.5);
            font-weight: 100;
        }
    }

    &.crud {
        table-layout: fixed;
        
        tbody {
            tr.edit {
                border: 1px solid #0070D2;
                
                td { 
                    border-top: 1px solid #0070D2; 
                }
            }

            td {
                input {
                    border: 0;
                    padding: 0;
                }
                
                .actions {
                    display: flex;
                    align-content: center;
                    justify-content: flex-end;
                }
    
                &:first-child, &:last-child { width: 10%; }
                &:last-child {
                    text-align: right;
                    
                    img {
                        cursor: pointer; 
                        &:first-child { margin-right: 10px; }
                    }
                    
                }
            }  
        }
    }

}