.filter {
    display: flex;
    align-items: center;
    padding: 12px 24px;

    .selection, .period {
        display: flex;
        align-items: center;
    }

    .selection {
        .selection-title {
            color: #54698D;
            opacity: 0.6;
            margin-right: 4px;
        }

        select {
            margin: 0 4px;
        }
    }

    .period {
        margin-left: auto;

        .period-text {
            font-size: 12px;
            line-height: 14px;
            color: #16325C;
            text-transform: uppercase;
            font-family: 'SF UI Text Bold';
            margin-right: 16px;
        }

        .period-btn {
            display: flex;
            background: #FFF;
            border: 1px solid #D8DDE6;
            padding: 9px 18px;
            outline: 0;
            cursor: pointer;

            &.prev {
                border-radius: 4px 0px 0px 4px;
                border-right: 0;
            }

            &.next {
                border-radius: 0px 4px 4px 0px;
            }
        }
    }
}