@import 'fonts.scss';
@import 'crud.scss';
@import 'filter';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    padding: 0;
    margin: 0;
    background: #F9FAFB;
    font-family: 'SF UI Text Regular';
    color:  #54698D;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    min-width: 100%;
    font-size: 13px;
    overflow: auto;
}

input[type="text"], input[type="password"] {
    background: #FFFFFF;
    border: 1px solid #D8DDE6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px 9px 12px;
    font-size: 13px;
    line-height: 15px;
    font-family: "SF UI Text Regular";
    outline: 0;
}

select, .input-calendar {
    padding: 7.5px 12px;
    background: #FFFFFF;
    border: 1px solid #D8DDE6;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    font-family: "SF UI Text Regular";
    color: #16325C;
    font-size: 13px;
}

.btn {
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    color: #FFF;
    padding: 9px 12px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'SF UI Text Light';
    outline: 0;
    cursor: pointer;
    
    &.btn-default {
        background: #0070D2;
        border: 1px solid #0070D2;
    }

    &.btn-simple {
        background: #FFFFFF;
        color: #54698D;
        border: 1px solid #54698D;
    }
}

a {
    font-size: 13px;
    line-height: 16px;  
    font-family: 'SF UI Text Regular';
    color: #16325C;
    text-decoration: none;
    cursor: pointer;
    
    &.active {
        color: #0070D2;
    }
}

h1 {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 1111px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(216, 221, 230, 0.5);
    border-radius: 4px;
}

.content-header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    min-height: 55px;

    h1 {
        flex-grow: 1;
    }

    .btn:last-child {
        margin-left: 12px;
    }

    img {
        cursor: pointer;
    }
}

.dialog-content-wapper {
    padding: 0 24px 12px 24px;
}

mat-dialog-container {
    padding: 0!important;
}