<app-header></app-header>

<div class="container">
  
  <app-promo-planning-header></app-promo-planning-header>

  <app-promo-planning-filter></app-promo-planning-filter>

  <app-promo-planning-table></app-promo-planning-table>

</div>