:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.navigations {
    display: flex;
    background: #FBFCFF;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    padding: 0 24px;
    margin-bottom: 32px;

    .item {
        padding: 16px 0px;
        margin: 0 8px;
        color: #16325C;
        opacity: 0.5;
        cursor: pointer;
        
        &.active {
            opacity: 1;
            border-bottom: 2px solid #0070D2;
        }

        &:first-child {
            margin-left: 0; 
        }

        &:last-child {
            margin-right: 0;
        }
    }
}