<app-dialog-header [title]="dialogTitle" (onClosed)="close()"></app-dialog-header>

<div class="navigations">
  <div class="item" *ngFor="let item of menu" (click)="changePage(item)" [ngClass]="{active: page == item.page}">
    {{ item.title }}
  </div>
</div>  

<div class="dialog-content-wapper">
  <ng-container [ngSwitch]="page">
      <app-main-info *ngSwitchCase="'mainInfo'" [mainInfo]="marketingActivityModel"></app-main-info>
      <app-products *ngSwitchCase="'products'"></app-products>
  </ng-container>

</div>

<app-dialog-footer (onClosed)="close()" (onSave)="save()"></app-dialog-footer>
